.header {
    background-color:rgb(189,62,55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding-left: 20px;
}

.h1 {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}
